{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-8 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Login to Your Profile</h1>
                        </div>

                        <!-- Login Form -->
                        <form method="POST" action="{% url 'change password' %}">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-primary mt-2" type="submit">Change Password</button>
                        </form>
                        <!-- End Login Form -->

                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock %}